@import "./palette.scss";

#app-title {
  color: $color2;
  font-size: xx-large;
  margin: 0;
}

#top-bar {
  background-color: $color1;
  margin-top: 0;
  margin-bottom: 0;
  height: 3vh;
  padding: 0.3em;
  display: flex;
  align-content: center;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.search-container {
  display: flex;
  margin-top: 0.5em;
  align-self: center;
  width: 90%;
  max-width: 800px;
  background-color: $color2;
  flex-direction: column;
  align-items: center;
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;

  @media screen and (min-width: 700px) {
    width: 80%;
  }

  .usage-prompt {
    margin: 0;
  }
}

#search-form {
  display: grid;
  width: 100%;
  grid-template-areas:
    "location-label keywords-label ."
    "location-input keywords-input submit";

  grid-template-columns: auto auto min-content;
  width: 100%;
  input[name="location"] {
    grid-area: location-input;
    height: 2vh;
  }

  input[name="keywords"] {
    grid-area: keywords-input;
  }

  label {
    color: $color5;
  }

  .location-label {
    grid-area: location-label;
  }

  .keywords-label {
    grid-area: keywords-label;
  }

  .button-row {
    grid-area: submit;
    display: flex;
    height: 100%;
    align-content: center;
  }
}

#job-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
  padding: 0.3em;
  padding-left: 0;
  padding-right: 0;

  li {
    width: 100%;
    display: flex;
    margin-right: 0;
    margin-left: 0;

    // :last-of-type:hover{
    //   border-radius: 10px;
    //   box-shadow:         0px 0px 30px 0px rgba(232, 0, 0, 0.67);
    // }
  }

  li:hover {
    box-shadow: 0px 0px 30px 0px $color1;
  }
}

.job-posting {
  width: 100%;
  display: grid;
  grid-template-areas:
    "title posted-time url"
    "hiring-company location url"
    "collapsible collapsible collapsible";
  margin: 0;
  grid-template-columns: auto auto min-content;
  margin-top: 0.3em;
  padding: 0.5em;
  background-color: white;
  border-radius: 0.2em;

  .title {
    grid-area: title;
    font-weight: bold;
  }

  .hiring-company {
    grid-area: hiring-company;
  }

  .location {
    grid-area: location;
    text-align: right;
  }

  .posted-time {
    grid-area: posted-time;
    text-align: right;
    font-weight: lighter;
  }

  .description-heading {
    margin-bottom: 0.2em;
  }

  .url-container {
    grid-area: url;
    display: flex;
    align-items: center;
    justify-content: center;
    .url {
      img {
        border-radius: 70%;
      }
      padding-left: 0.7em;
    }
  }

  .collapsible {
    grid-area: collapsible;
    display: grid;
    margin-top: .5em;
    grid-template-areas:
      "description-heading salary-container"
      "snippet salary-container";

    .description-heading {
      grid-area: description-heading;
      margin-top: 0;
    }
    .snippet {
      grid-area: snippet;
    }
    .salary-container {
      grid-area: salary-container;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      div {
        display: flex;
        flex-direction: column;
        label {
          font-weight: bolder;
        }
      }
    }
  }
}
