/* Coolors Exported Palette - coolors.co/4c5e30-d3d4cc-9e9d93-61605c-232615 */

/* HSL */
$color1: hsla(83%, 32%, 28%, 1);
$color2: hsla(68%, 9%, 82%, 1);
$color3: hsla(55%, 5%, 60%, 1);
$color4: hsla(48%, 3%, 37%, 1);
$color5: hsla(71%, 29%, 12%, 1);

/* RGB */
$color1: rgba(76, 94, 48, 1);
$color2: rgba(211, 212, 204, 1);
$color3: rgba(158, 157, 147, 1);
$color4: rgba(97, 96, 92, 1);
$color5: rgba(35, 38, 21, 1);